@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    
}
body{
    background-color: #f0f0f0;
}
header{
    display: inline-block;
    width: 100%;
    padding: 25px 80px;
    background-color: rgba(223, 221, 221, 0.769);;
    position: relative;
}
nav{
    float: right;
}
nav ul li{
    display: inline-block;
    padding: 15px 25px;
}
nav ul li a{
    text-decoration: none;
    display: inline-block;
    color: #000;
    font-weight: 600;
}
form{
    margin: 5%;
    padding: 5%;
}
.selected{
    color: #000;
}
.noSelected{
    color: grey;
}

.toggle-btn{
    width: 35px;
    position: absolute;
    right: 80px;
    top: 40px;
}
.toggle-btn span{
    display: block;
    visibility: hidden;
    width: 100%;
    height: 2px;
    background-color: #000;
    float: left;
    margin-bottom: 8px;
}
.logo{
    float: left;
}
.amarelo{
    color: yellow;
}
.rosa{
    color: pink;
}
.roxo{
    color: purple;
}
.verde-agua{
    color:aqua;
}
a{
    font-family:  'Lilita One';
}
main{
    font-family: 'Lilita One','Times New Roman', Times, serif;
}
.container-fluid{
    margin: 0;
    padding: 0;
}
.texto{
    margin: 5%;
    padding: 5%;
}
textarea {
    width: 100%;
}
header{
    border-bottom: 3px solid black;
}
button > p{
    display: inline-block;
}
#vis-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
  
.conteudo-modal {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 600px;
    position: relative;
}
  
.conteudo-modal p {
    margin: 0;
}
  
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
}
  

.error {
    border: 2px solid red;
  }
.btn{
    margin: 1%;
}
div{
    margin: 1%;
}
.btn-primary{
    background-color: rgb(7, 158, 7);
    color: black;
}
.btn-primary:hover{
    background-color: rgb(32, 104, 32);
}
.btn-secondary{
    background-color: red;
    color: black;
}
.btn-secondary:hover{
    background-color: rgb(146, 14, 14);
}
.alterar{
    background-color: yellow;
    color: black;
}
.alterar:hover{
    background-color: rgb(190, 190, 8);
    color:white;
}
.forum { 
    padding: 20px;
    margin: 20px;
    max-width: 400px;
    background-color: pink;
}





@media (max-width: 900px) {
    .toggle-btn{
        width: 35px;
        right: 30px;
        top: 40px;
        display: block;
    }
    .toggle-btn span{
        width: 100%;
        height: 2px;
        background-color: #000;
        visibility: visible;
        float: left;
        margin-bottom: 8px;
    }
    nav{
        display: none;
        width: 100%;
        border-top: 1px solid #000;
        padding-top: 20px;
        margin-top: 30px;
    }
    nav.show{
        display:flex;
    }
    nav ul li{
        width: 100%;
        padding: 15px 0px;
    }
    
    .direita{
      display: none;
    }
    .containerimg{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
  }
  @media (max-width: 450px) {
    header{
        padding: 10px 0px;
    }
    .logo{
        margin: 0;
        padding: 0;
        float: left;
    }
    .navbar-brand{
        margin: 2%;
    }
    .toggle-btn{
        width: 35px;
        right: 30px;
        top: 40px;
    }
  }
  @media (max-width: 367px){
    .navbar-brand{
        font-size: 20px;
    }
  }
  @media (max-width: 280px){
    .navbar-brand{
        font-size: 16px;
    }
  }